---
import { Button } from '@/components/ui/button';
import Layout from '../layouts/Layout.astro';
---

<Layout title="David Inga | Senior developer">
  <main>
    <section class="flex min-h-screen w-full items-center">
      <div class="container space-y-4">
        <div class="text-lg font-medium">Hello there.</div>
        <div class="text-6xl font-semibold">David Inga</div>
        <h2 class="text-xl font-medium">I am a passionate developer</h2>
        <p>
          The namics of how users interact with interactive elements within a user interface flow
          chart based on container proportion.
        </p>
        <div>
          <Button>My work</Button>
          <Button variant="outline">Get in touch</Button>
        </div>
      </div>
    </section>
  </main>
</Layout>
