---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="sticky top-0 bg-white">
      <div class="container flex min-h-[60px] items-center justify-between">
        <h1 class="text-2xl font-semibold uppercase text-gray-900">Inga</h1>
        <nav>
          <ul class="flex space-x-8 text-sm font-medium uppercase tracking-wide text-gray-900">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog">About me</a>
            </li>
            <li>
              <a href="/blog">My work</a>
            </li>
            <li>
              <a href="/blog">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <slot />
    <footer class="bg-gray-900 py-8">
      <div class="container flex items-center justify-between text-white">
        <div>Github</div>
        <div class="text-sm text-gray-600">© {new Date().getUTCFullYear()} David Inga</div>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  @layer global {
    html {
      @apply bg-white font-sans text-gray-900 antialiased;
    }

    .container {
      @apply mx-auto max-w-7xl px-4;
    }
  }
</style>
